body{
    margin: 0;
    padding-top: 60px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    border-radius: 20px;
    margin-top: 10px;

}
a{
    color: yellow;
    text-decoration: none;
    margin: 0 15px;
}
#hm{
    color: green;
    height: 90vh;
    background-color: lightgray;
}
#hm h1{
    position: sticky;
    top: 60px;
}
#about h1{
    position: sticky;
    top: 60px;
}
#contact h1{
    position: sticky;
    top: 60px;
}
#about{
    color: blue;
    height: 90vh;
    background-color: lightblue;
}
#contact{
    color: red;
    height: 90vh;
    background-color: lightcoral;
}
