.outer-container {
    border: 2px solid black;
    height: 400px;
    width: 80vw;
    margin: 20px;
}
.inner-container {
    position: relative;
    margin: 20px;
    height: 300px;
    background-color: #f0f0f0;
}