body {
  background-color: white;
  color: black;
  text-align: center;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0;
}

input, textarea {
  width: 100%;
  padding: 8px;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 5px 0;
}

button {
  padding: 8px 16px;
  margin: 5px;
}
ol{
  list-style-type: none;
}